:root {
	--rojo: #000000;
	--fondo: #141414;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
    background-color: rgb(216, 68, 9);
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}
.imagen-principal {
	font-size: 20px;
	min-height: 40.62em;
	color: rgb(0, 0, 0);
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.imagen-principal .contenedor {
	margin: 0 auto;
}

.pizzas-recomendadas {
	margin-bottom: 70px;
}

.pizzas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.pizzas-recomendadas .contenedor-cuadropi {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.pizzas-recomendadas .contenedor-cuadropi .cuadropi {
	display: flex;
	flex-wrap: nowrap;
}

.pizzas-recomendadas .contenedor-cuadropi .cuadropi .pizza {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.pizzas-recomendadas .contenedor-cuadropi .cuadropi .pizza.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.pizzas-recomendadas .contenedor-cuadropi .cuadropi .pizza img {
	width: 100%;
	vertical-align: top;
}

footer{
    background-color: rgb(216, 68, 9);
  }

  @media screen and (max-width: 800px) {
	}							   
		.pizzas-recomendadas .contenedor-cuadropi {
			overflow: visible;
		}
	
		.pizzas-recomendadas .contenedor-cuadropi .cuadropi {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}


input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

	